img{
    height: 200px;
}

header{
    background-color: #54071d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-weight: bold;

}

li{
    margin: 10px;
}